@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
body {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mochiy Pop P One", sans-serif;
  background-color: #f2acac;
}
input#open {
  display: none;
}
.valentine-day-card {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 0.3s;
}
.card-front {
  position: relative;
  background-color: #fff0f3;
  width: 300px;
  height: 300px;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15),
    30px 0 50px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.card-front:before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #d04e4e;
  top: 10px;
  left: 10px;
}
.card-inside {
  position: absolute;
  background-color: #fff0f3;
  width: 300px;
  height: 300px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.22),
    100px 20px 100px rgba(0, 0, 0, 0.1);
}
.open {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 7;
  cursor: pointer;
}
#open:checked ~ .card-front {
  transform: rotateY(-155deg);
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
    30px 0 50px rgba(0, 0, 0, 0.1);
}
#open:checked ~ .card-front::before {
  z-index: 5;
  background-color: #fff0f3;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1),
    30px 0 50px rgba(0, 0, 0, 0.1);
}
.note {
  position: relative;
  width: 250px;
  height: 200px;
  top: 55px;
  left: 25px;
  color: #ffffff;
  font-size: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.text-one {
  position: absolute;
  color: #333;
  font-size: 13px;
  top: 15px;
  width: 290px;
  left: 5px;
  text-align: center;
}
.text-one:before {
  position: absolute;
  left: 5px;
  text-align: center;
  width: 290px;
}

.heart {
  position: relative;
  background-color: #ffffff;
  height: 60px;
  width: 60px;
  left: 120px;
  top: 100px;
  transform: rotate(-45deg);
  animation: beat 0.8s infinite;
}
.heart:before,
.heart:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
}
.heart:before {
  top: -30px;
  left: 0;
}
.heart:after {
  left: 30px;
  top: 0;
}

@keyframes close {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}
@keyframes beat {
  0%,
  40%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  25%,
  60% {
    transform: scale(1.1) rotate(-45deg);
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background-color: #f50707;
  }
  .card-front {
    position: relative;
    background-color: #fff0f3;
    width: 600px;
    height: 600px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15),
      30px 0 50px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  .card-front:before {
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: #d04e4e;
    top: 25px;
    left: 25px;
  }
  .card-inside {
    position: absolute;
    background-color: #f7f0ff;
    width: 600px;
    height: 600px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.22),
      100px 20px 100px rgba(0, 0, 0, 0.1);
  }
  .open {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 7;
    cursor: pointer;
  }
  #open:checked ~ .card-front {
    transform: rotateY(-135deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13),
      30px 0 50px rgba(0, 0, 0, 0.1);
  }
  #open:checked ~ .card-front::before {
    z-index: 5;
    background-color: #fff0f3;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1),
      30px 0 50px rgba(0, 0, 0, 0.1);
  }
  .note {
    position: relative;
    width: 450px;
    height: 200px;
    top: 255px;
    left: 65px;
    color: #ffffff;
    font-size: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
  }
  .text-one {
    position: absolute;
    color: #333;
    font-size: 24px;
    top: 35px;
    width: 520px;
    left: 45px;
    text-align: center;
  }
  .heart {
    position: relative;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    left: 270px;
    top: 150px;
    transform: rotate(-45deg);
    animation: beat 0.8s infinite;
  }
  .heart:before,
  .heart:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #ffffff;
  }
  .heart:before {
    top: -30px;
    left: 0;
  }
  .heart:after {
    left: 30px;
    top: 0;
  }
}
